@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$light-color: #f4f4f4;
$select: #e6e6e6;
$mont: 'Montserrat', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

%sharedText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .55em;
    color: black;
}

// Navigation Bar
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    a {
        @extend %sharedText;
        text-decoration: none;
        margin: 15px 6px;
    }

    a:hover {
        text-decoration: underline;
    }

    .apps-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin: 8px 0 0 5px;
        border-radius: 50%;

        .apps {
            width: 10px;
            height: 10px;
            cursor: pointer;
        }
    }

    .apps-container:hover {
        background: $select;
    }

    .profile {
        width: 21px;
        border-radius: 50%;
        margin: 10px 12px;
        cursor: pointer;
    }
}

// Main Page Styles
main {
    margin-top: 55px;

    .logo {
        font-size: 3.5em;
        font-family: $mont;
        letter-spacing: -0.14em;
        text-align: center;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .blue {
            color: rgba(22, 104, 235, 0.911);
        }

        .red {
            color: rgb(255, 51, 0);
        }

        .yellow {
            color: rgb(255, 187, 0);
        }

        .green {
            color: rgb(31, 153, 1);
        }
    }
}

form {
    width: 370px;
    margin: 30px auto 12px auto;
    border-radius: 20mm;
    box-shadow: 0px 1px 5px rgb(204, 204, 204);

    .magnifying {
        position: absolute;
        width: 25px;
        height: 25px;
        margin: 8px 10px;
        transform: scale(.8);

        .lens-frame {
            position: absolute;
            width: 8px;
            height: 8px;
            background: grey;
            border-radius: 50%;

            .lens {
                margin: 1px 1.3px;
                width: 5.5px;
                height: 5.5px;
                background: white;
                border-radius: 50%;
            }
        }

        .handle {
            margin: 8px 5px;
            width: 6px;
            height: 1.5px;
            background: grey;
            transform: rotate(45deg);
        }
    }

    input {
        border: none;
        font-size: .7em;
        margin-left: 25px;
        width: 315px;
        padding: 8px;
    }

    input:focus {
        outline: none;
    }

    .microphone {
        position: absolute;
        margin: 8px 8px;
        width: 9px;
    }
}

.icons-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 328px;
    flex-wrap: wrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    .link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;

        .select {
            border-radius: 1mm;
            padding: 1px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 70px;
            width: 70px;

            .icon {
                background: $light-color;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                
                .icon-images {
                    width: 15px;
                    height: 15px;
                }
            }
        }

        .select:hover {
            background: $select;
        }

        p {
            @extend %sharedText;
            padding-top: 10px;
            text-align: center;
            width: 62px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .plus {
            font-weight: 900;
        }
    }    

}

footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .btn {
        display: flex;
        flex-direction: row;
        background: none;
        border: none;
        font-size: .6em;
        color: rgba(22, 104, 235, 0.911);
        box-shadow: 0px 1px 5px rgb(204, 204, 204);
        border-radius: 20mm;
        padding: 5px 12px;
        cursor: pointer;

        .pencil {
            width: 10px;
            margin-right: 8px;
        }
    }

    .btn:hover {
        background: #f4faff;
    }
}